<!doctype html>
<!--[if lt IE 8]><html class="no-js lt-ie8"> <![endif]-->
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>Tables | Dynamic Admin Template</title>
    <!-- Mobile specific metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=no">
    <!-- Force IE9 to render in normal mode -->
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="author" content="" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="application-name" content="" />
    <!-- Import google fonts - Heading first/ text second -->
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700' rel='stylesheet' type='text/css'>
    <!-- Css files -->
    <!-- Icons -->
    <link href="console/css/icons.css" rel="stylesheet" />
    <!-- Bootstrap stylesheets (included template modifications) -->
    <link href="console/css/bootstrap.css" rel="stylesheet" />
    <!-- Plugins stylesheets (all plugin custom css) -->
    <link href="console/css/plugins.css" rel="stylesheet" />
    <!-- Main stylesheets (template main css file) -->
    <link href="console/css/main.css" rel="stylesheet" />
    <!-- Custom stylesheets ( Put your own changes here ) -->
    <link href="console/css/custom.css" rel="stylesheet" />
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="img/ico/apple-touch-icon-57-precomposed.png">
    <link rel="icon" href="img/ico/favicon.ico" type="image/png">
    <!-- Windows8 touch icon ( http://www.buildmypinnedsite.com/ )-->
    <meta name="msapplication-TileColor" content="#3399cc" />
</head>
<body>
<!--[if lt IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!-- .page-navbar -->
<div id="header" class="page-navbar">
    <!-- .navbar-brand -->
    <a href="/home" class="navbar-brand hidden-xs hidden-sm">RealEstate<br/>Listing</a>
    <!-- / navbar-brand -->
    <!-- .no-collapse -->
    <div id="navbar-no-collapse" class="navbar-no-collapse">

    </div>
    <!-- / collapse -->
</div>
<!-- / page-navbar -->
<!-- #wrapper -->
<div id="wrapper">

    <!-- / page-sidebar -->

    <!-- .page-content -->
    <div class="page-content sidebar-page right-sidebar-page clearfix">
        <!-- .page-content-wrapper -->
        <div class="page-content-wrapper">
            <div class="page-content-inner">
                <!-- Start .page-content-inner -->
                <div id="page-header" class="clearfix">
                    <div class="page-header">
                        <h2>Admin Console</h2>
                    </div>
                </div>
                <!-- Start .row -->
                <div class="row">
                    <div class="col-lg-12">
                        <!-- col-lg-12 start here -->
                        <div class="panel panel-default plain toggle panelMove panelClose panelRefresh">
                            <!-- Start .panel -->
                            <div class="panel-heading white-bg">
                                <h4 class="panel-title">Users</h4>
                            </div>
                            <div class="panel-body">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th class="per5">
                                            <div class="checkbox-custom">
                                                <input class="check-all" type="checkbox" id="masterCheck" value="option1">
                                                <label for="masterCheck"></label>
                                            </div>
                                        </th>
                                        <th class="per20">ID</th>
                                        <th class="per15">Username</th>
                                        <th class="per15">First Name</th>
                                        <th class="per15">Last Name</th>
                                        <th class="per15">User Type</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <div class="checkbox-custom">
                                                <input id="check" class="check" type="checkbox" value="option2">
                                                <label for="check"></label>
                                            </div>
                                        </td>
                                        <td>Jacob Olsen</td>
                                        <td>Developer</td>
                                        <td>2530$</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox-custom">
                                                <input id="check1" class="check" type="checkbox" value="option3">
                                                <label for="check1"></label>
                                            </div>
                                        </td>
                                        <td>Lara James</td>
                                        <td>SEO</td>
                                        <td>3700$</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox-custom">
                                                <input id="check2" class="check" type="checkbox" value="option4">
                                                <label for="check2"></label>
                                            </div>
                                        </td>
                                        <td>Steve Sidwell</td>
                                        <td>Photographer</td>
                                        <td>1340$</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox-custom">
                                                <input id="check3" class="check" type="checkbox" value="option5">
                                                <label for="check3"></label>
                                            </div>
                                        </td>
                                        <td>Elena Dobrev</td>
                                        <td>Project manger</td>
                                        <td>5600$</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- End .panel -->
                    </div>
                    <!-- col-lg-12 end here -->
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <!-- col-lg-12 start here -->
                        <div class="panel panel-default plain toggle panelMove panelClose panelRefresh">
                            <!-- Start .panel -->
                            <div class="panel-heading white-bg">
                                <h4 class="panel-title">Users</h4>
                            </div>
                            <div class="panel-body">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th class="per5">
                                            <div class="checkbox-custom">
                                                <input class="check-all" type="checkbox" id="masterCheck" value="option1">
                                                <label for="masterCheck"></label>
                                            </div>
                                        </th>
                                        <th class="per20">ID</th>
                                        <th class="per15">Username</th>
                                        <th class="per15">First Name</th>
                                        <th class="per15">Last Name</th>
                                        <th class="per15">User Type</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <div class="checkbox-custom">
                                                <input id="check" class="check" type="checkbox" value="option2">
                                                <label for="check"></label>
                                            </div>
                                        </td>
                                        <td>Jacob Olsen</td>
                                        <td>Developer</td>
                                        <td>2530$</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox-custom">
                                                <input id="check1" class="check" type="checkbox" value="option3">
                                                <label for="check1"></label>
                                            </div>
                                        </td>
                                        <td>Lara James</td>
                                        <td>SEO</td>
                                        <td>3700$</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox-custom">
                                                <input id="check2" class="check" type="checkbox" value="option4">
                                                <label for="check2"></label>
                                            </div>
                                        </td>
                                        <td>Steve Sidwell</td>
                                        <td>Photographer</td>
                                        <td>1340$</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox-custom">
                                                <input id="check3" class="check" type="checkbox" value="option5">
                                                <label for="check3"></label>
                                            </div>
                                        </td>
                                        <td>Elena Dobrev</td>
                                        <td>Project manger</td>
                                        <td>5600$</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- End .panel -->
                    </div>
                    <!-- col-lg-12 end here -->
                </div>

            </div>
            <!-- End .page-content-inner -->
        </div>
        <!-- / page-content-wrapper -->
    </div>
    <!-- / page-content -->
</div>
<!-- / #wrapper -->
<div id="footer" class="clearfix sidebar-page right-sidebar-page">

</div>
<!-- End #footer  -->
<!-- Back to top -->
<div id="back-to-top"><a href="#">Back to Top</a>
</div>
<!-- Javascripts -->
<!-- Load pace first -->
<script src="console/plugins/core/pace/pace.min.js"></script>
<!-- Important javascript libs(put in all pages) -->
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script>
    window.jQuery || document.write('<script src="console/js/libs/jquery-2.1.1.min.js">\x3C/script>')
</script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script>
    window.jQuery || document.write('<script src="console/js/libs/jquery-ui-1.10.4.min.js">\x3C/script>')
</script>
<!--[if lt IE 9]>
<script type="text/javascript" src="console/js/libs/excanvas.min.js"></script>
<script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script type="text/javascript" src="console/js/libs/respond.min.js"></script>
<![endif]-->
<!-- Bootstrap plugins -->
<script src="console/js/bootstrap/bootstrap.js"></script>
<!-- Core plugins ( not remove ) -->
<script src="console/js/libs/modernizr.custom.js"></script>
<!-- Handle responsive view functions -->
<script src="console/js/jRespond.min.js"></script>
<!-- Custom scroll for sidebars,tables and etc. -->
<script src="console/plugins/core/slimscroll/jquery.slimscroll.min.js"></script>
<script src="console/plugins/core/slimscroll/jquery.slimscroll.horizontal.min.js"></script>
<!-- Remove click delay in touch -->
<script src="console/plugins/core/fastclick/fastclick.js"></script>
<!-- Increase jquery animation speed -->
<script src="console/plugins/core/velocity/jquery.velocity.min.js"></script>
<!-- Quick search plugin (fast search for many widgets) -->
<script src="console/plugins/core/quicksearch/jquery.quicksearch.js"></script>
<!-- Bootbox fast bootstrap modals -->
<script src="console/plugins/ui/bootbox/bootbox.js"></script>
<!-- Other plugins ( load only nessesary plugins for every page) -->
<script src="console/plugins/forms/checkall/jquery.checkAll.js"></script>
<script src="console/plugins/charts/sparklines/jquery.sparkline.js"></script>
<script src="console/plugins/ui/waypoint/waypoints.js"></script>
<script src="console/js/jquery.dynamic.js"></script>
<script src="console/js/main.js"></script>
<script src="console/js/pages/tables-basic.js"></script>
</body>
</html>